
<!-- <%= todos[0].task %>; -->
<!-- <% todos.forEach(function(todo){ %>
		<h1><%= todo.task %></h1>
	<% }) %> -->



<div class="table-responsive">
  <table class="table table-hover">
      <thead>
        <tr>
          <th>My Task</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

          <% todos.forEach(function(todo){ %>
          		<tr>
                <td><%= todo.task %></td></div>
                <% counter++ %>
                <!-- <td><%= todo.completed %>  </td> -->

                <td><% if (todo.completed ) { %>
                                            Completed!
                                      <% } else { %>
                                            Not Completed!
                                      <% } %>
                </td>

                <td><a class="btn btn-info" href="todo/<%= todo.id %>">edit</a>
                </td>
                <!-- <td>Delete - <a href="todo/<%= todo.id %>">Delete</a></td> -->
                <td>
                  <form action=<%="/todo/" + todo.id + "?_method=delete"%> method="post">
                      <input class="btn btn-warning" type="submit" value="delete" />
                  </form>
                </td>
            </tr>
          	<% }) %>

      </tbody>
    </table>
  </div>
<a href="/todo/new">+ Add A New Task</a>
<!-- console.log(req.body)
 -->
